a {
    color: brown;
}

h1 {
    color: crimson;
}

body {
    background-color: rgb(249, 221, 185);
}

#button {
    background-color: crimson;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#button:hover {
    background-color: cyan;
}

#signature {
    color: black;
}