a {
    color: brown;
}

body {
    background-color: rgb(164, 176, 188);
}

img {
    border: 5px solid black;
    border-radius: 12.5%;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-42 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
}

.btn-42 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease;
}

.btn-42:hover {
    color: black;
}

.btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: white;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-42:hover:after {
    top: 0;
    height: 100%;
}

.btn-42:active {
    top: 2px;
}


#signature {
    color: black;
}

.title-box {
    color: crimson;
    background-color: navy;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-body {
    color: rgb(150, 2, 32);
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.photo-ingredients {
    color: inherit;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.photo {
    flex: 1;
    flex-basis: auto;
}

.steps-how-time {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
}

.ingredients {
    flex: 1;
    flex-basis: auto;
    padding: 10px;
}

.steps {
    flex: 1;
    flex-basis: auto;
    padding: 10px;
}

.how {
    flex: 1;
    flex-basis: auto;
    padding: 10px;
}

.time {
    flex: 1;
    flex-basis: auto;
    padding: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.back-button,
.copyright {
    flex: 1;
    flex-basis: auto;
    padding: 10px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: crimson;
    font-size: 30px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.recipes {
    flex: 1;
    flex-basis: auto;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-end;
}

.copyright1 {
    flex: 1;
    flex-basis: auto;
}