a {color :brown;}
h1 {color:crimson;}
body {
    background-color:antiquewhite;
   }
   #button {
    background-color: crimson; /* Adjust color as needed */
    color: black; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 8px;
  }
  
  #button:hover {
    background-color: cyan; /* Adjust hover color */
  }